@media only screen and (max-width: 800px) {
    .coursework-title {
      font-size: var(--section-heading-size-mobile) !important;
    }
  }
.coursework-title {
    font-size: var(--section-heading-size);
    letter-spacing: var(--heading-letter-spacing);
    color:white;
    margin-bottom: 1rem;
  }
  .coursework-title > span {
    color: var(--section-color);
  }
.course-list {
    list-style-type: none;
    padding: 0;
}

.course-item {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.course-item h3 {
    margin-top: 0;
    color: #ffff;
}

.course-item p {
    margin: 5px 0;
    color: #ffff;
}

.course-item::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: 15px;
    opacity: 0.8;
    animation: glowing 3s linear infinite;
}

@keyframes glowing {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}
