@media only screen and (max-width: 800px) {
    .projects-title {
      font-size: var(--section-heading-size-mobile) !important;
    }
  }
  .projects-title {
    font-size: var(--section-heading-size);
    letter-spacing: var(--heading-letter-spacing);
    color:white;
    margin-bottom: 1rem;
  }
  .projects-title > span {
    color: var(--section-color);
  }
.projects-container {
    color: white;
    display: flex;
    flex-direction: column;
  }

.project-section {
    width: 97%;
    margin-bottom: 2rem;
    position: relative;
    border-bottom: 2px dotted #ffff;
}

.project-section:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-category {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.project-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}
.project-image {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: block; 
    margin-left: auto;  
    margin-right: auto; 
}
.project-image-description {
    font-style: italic;
    color: #b7b7b7; 
}
.project-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
}

.project-links a {
    font-size: 1rem;
    color:   #9b61ff;;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 1px solid  #9b61ff;;
}

.project-links a:hover {
    background-color:  #9b61ff;;
    color: #EDF2FB;
    border: 1px solid   #9b61ff;;
}
