@media only screen and (max-width: 800px) {
    .home-page {
      font-size: 3.5rem !important;
      line-height: 3.3rem !important;
      font-weight: 500 !important;
    }
    .home-page-footer {
      margin-bottom: 4.5rem !important;
    }
  
    .home-page > div > span {
      line-height: 65px !important;
    }
  }
  
  .home-page-container {
    min-height: 100vh;
    width: 100%;
    color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .home-page-header {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .home-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 5.5rem;
    font-weight: 500;
    position: relative;
    line-height: 80px;
    letter-spacing: var(--heading-letter-spacing);
    position: relative;
  }
  
  .home-page > div > p > span {
    color: var(--section-color);
  }
  
  .home-page > div > span {
    line-height: 7rem;
  }
  
  .home-page-footer {
    width: 130px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 1rem;
  }
  .profile-picture {
    width: 160px;
    height: auto;
    border-radius: 50%; 
    margin-left: 20px; 
}
.link-button{
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.link-button:hover {
    color:  #9b61ff;
}