
:root {
  --heading-margin: 80px;
  --section-color: #9b61ff;
  --section-heading-size: 2rem;
  --section-heading-size-mobile: 1rem;
  --section-sub-heading-size: 1.5rem;
  --section-grey-color: rgba(255, 255, 255, 0.6);
  --heading-letter-spacing: -3px;
}

@media only screen and (max-width: 800px) {
  .btn-back-to-top > span {
    display: none;
  }

  .btn-back-to-top {
    width: 30px !important;
  }
}

.app-section {
  padding: 0 25px;
  margin-bottom: var(--heading-margin);
}

.app-section-contact {
  min-height: 100vh !important;
  padding: 0 25px;
}

.btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: #121212;
  border-radius: 5px;
  display: flex;
  height: 30px;
  align-items: center;
  width: 120px;
  justify-content: center;
  font-weight: 500;
}

.btn-back-to-top :hover{
  color: #9b61ff;
}
.btn-back-to-top > svg {
  font-size: 1.2rem;
}
/* Reusable section header */
.section-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
  color: #121212;
  margin-bottom: 1rem;
}

.section-header > span {
  color: var(--section-color);
}

@media only screen and (max-width: 800px) {
  .section-header {
    font-size: 1.5rem !important;
    margin-bottom: 12px;
  }
}
